PORT=3000
BASE_URL=http://localhost:3000
DISCORD_CLIENT_ID=1487404375621238884
DISCORD_CLIENT_SECRET=bdLnbw0smcvPkD3R96GULZPVFUsYLsO-
DISCORD_REDIRECT_URI=http://localhost:3000/auth/discord/callback
DISCORD_BOT_INVITE_URL=https://discord.com/oauth2/authorize?client_id=1487404375621238884&scope=bot%20applications.commands&permissions=274877991936
